* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav, main, aside, footer {
    margin: 3px;
    display: flex;
    background: #a1a1a1;
}

body {
flex-wrap: wrap;
}

header {
flex: 1 1 100vw;
height: 100px;
}

nav {
flex: 1 1 200px;
}

main {
flex: 20 1 500px;
height: calc(100vh - 224px);
}

aside {
flex: 1 1 200px;
}

footer {
flex: 1 1 100vw;
height: 100px;
}
