* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row; /*Direção */
}

.child {
    width: 50%;
    height: 200px;
    background-color: red;
    border: 1px solid black;
}